.container__articles{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1129px) {
  .container__articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

