

<div class="container-hero-card">
    <div class="container-hero-card-content">
        <div class="hero-card">
            <img src="https://img.freepik.com/fotos-premium/o-robo-e-visto-de-pe-e-dando-o-polegar-para-cima_410516-19183.jpg" alt="Avatar do Eliomar" class="avatar" />
            
            </div>
            <div class="hero-text">
                <h1>Bem-vindo ao meu blog de tecnologia!</h1>
                <h2>Compartilhando minhas ideias e experiências com você</h2>
            </div>
          
    </div>
</div>