.container-hero-card-{
    display: flex;
}

.container-hero-card-content{
    display: flex;
    flex-direction: row;
  }

.avatar {
    width: 220px;
    height: 220px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #e6f0ff;
  }
  
  .hero-text{
    width: 500px;
  }

  .hero-text h1 {
    font-size: 3rem;
  }
  
  .hero-text h2 {
    font-weight: bold;
    
    font-size: 2rem;
    color: #5b0072;
  }